@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Rubik:wght@700&family=Source+Sans+3:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Inter;
  }
}

.backend-login-message {
}

.tabActive {
  @apply bg-red-500;
  @apply no-underline;
  @apply hover:bg-red-500;
}

.loading {
  /* color: violet; */
  background-color: rgb(201, 241, 241);
  background-image: url('data:image/svg+xml,\ <svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -20 40 40">\ <style> /* ...YO DAWG... */ circle { animation: 4s a infinite linear, 3s o infinite linear; }\ @keyframes a {from{stroke-dasharray:100 0}50%25{stroke-dasharray:0 100}to{stroke-dasharray:100 0}}\ @keyframes o {from{stroke-dashoffset:75}to{stroke-dashoffset:375}}\ <%2Fstyle><circle r="15.9154943092" stroke-width="7" fill="none" stroke="snow" />\ </svg>');
  background-blend-mode: luminosity;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: max-content;
}

.tooltip:hover {
  transform: scale(1.2);
}

.tooltip::before,
.tooltip::after {
  --scale: 0;
  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y)) scale(var(--scale));
  transition: transform 100ms;
  z-index: 100;
}

.tooltip::before {
  --translate-y: calc(-100% - 10px);
  background-color: inherit;
  content: attr(data-tooltip);
  width: max-content;
  padding: 0.25rem;
  border-radius: 5px;
  transform-origin: bottom center;
}

.tooltip::after {
  --translate-y: -10px;
  content: "";
  height: 10px;
  width: 10px;
  border: 10px solid transparent;
  border-top-color: inherit;
  transform-origin: top center;
}

.tooltip:hover.tooltip::before,
.tooltip:hover.tooltip::after {
  --scale: 1;
  z-index: 100;
}

.activeEditForm input {
  @apply bg-teal-200;
  @apply rounded-lg;
}
.activeEditItem {
  @apply bg-teal-200;
  @apply rounded-lg;
}
.error-img {
  @apply bg-gray-200;
  @apply rounded-lg;
}

.validation-error {
  @apply absolute;
  @apply p-1;
  @apply rounded-lg;
  @apply text-base;
  @apply bottom-2/3;
  @apply left-1/2;
  @apply -translate-x-1/2;
  @apply text-white;
  @apply z-10;
  @apply bg-red-500;
}
