<div class="">
  <div class="mx-auto flex p-4">
    <div class="">Welocome User</div>
    <button class="logoutBtn ml-auto">Logout</button>
  </div>
  <div class="content w-full">
    <div class="border-2 border-red-400">
      <h2>Books</h2>
      <button class="bg-red-500 p-2">Create New</button>
      <button class="bg-red-500 p-2">Edit/Delete</button>

      <div class="">
        <form action="post">
          <div class="">
            <label for="createBook">Create New Book</label>
            <input type="text" id="createBook" name="createBook" />
          </div>
        </form>
      </div>
    </div>
    <div class="border-2 border-red-400">
      <h2>Categories</h2>
      <button class="bg-red-500 p-2">Create New</button>
      <button class="bg-red-500 p-2">Edit/Delete</button>
    </div>
    <div class="border-2 border-red-400">
      <h2>Authors</h2>
      <button class="bg-red-500 p-2">Create New</button>
      <button class="bg-red-500 p-2">Edit/Delete</button>
    </div>

    <div class="border-2 border-red-400">
      <h2>Comments</h2>
    </div>
    <div class="">
      <button class="bg-red-500 p-2">Approve</button>
    </div>
  </div>
</div>
